
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <!-- <p>Created by Chris Gan</p> -->
    <p>If you are interested in the source code, feel free to visit the corresponding Github
      <a href="https://github.com/Chris4385/dailyJournal" target="_blank">respository</a></p>
 </div>
</div>
</body>
</html>
